## Повторение материала семинара 1

<img src="https://steemitimages.com/0x0/https://media.makeameme.org/created/repeat-repeat-repeat-5984a6.jpg" height="400" width="400">

Работа с числами

In [ ]:
# сложение
15 + 5

In [ ]:
# вычитание
10 - 1

In [ ]:
# деление
10 / 2

In [ ]:
# целочисленное деление
7//3

In [ ]:
# остаток от деления
10 % 3

In [ ]:
# умножение
5 * 15

In [ ]:
# возведение в степень
5**2

Основные типы данных

In [ ]:
# str или строка
'здесь может быть любой текст'

In [ ]:
# int и float - числа
5 + 10.5

In [ ]:
# list, set и tuple

[1, 2, 3, 4, 5]

In [ ]:
{1, 2, 5, 2, 1, 6}

In [ ]:
(1,2,3,4,5)

In [ ]:
# отличие list от tuple

a = [1,2,3,4,5]
b = (1,2,3,4,5)

In [ ]:
a.append(6)
a

In [ ]:
a[0] = 100
a

In [ ]:
b.append(6)
b

In [ ]:
b[0] = 100
b

In [ ]:
# dict - словарь
{'key1':100,'key2':150}

In [ ]:
# вы можете проверить тип переменной
type(a)

Переменные

In [ ]:
# здесь мы присваиваем переменной x значение
x = 5

In [ ]:
x

In [ ]:
y = x + 10

In [ ]:
y

Логические выражения

<center> 
    <table>
        <tr>
            <th>Логическое выражение </th>
            <th> Значение </th>
        </tr> 
        <tr><td>&lt;</td><td> Меньше</td></tr>
        <tr><td>&gt;</td><td> Больше</td></tr>
        <tr><td>&lt;=</td><td> Меньше или равно</td></tr>
        <tr><td>&gt;=</td><td> Больше или равно</td></tr>
        <tr><td>==</td><td> Равно </td></tr>
        <tr><td>!=</td><td> Не равно</td></tr>
    </table>
</center>

In [ ]:
5 > 10

In [ ]:
6 <=15

In [ ]:
100 == 100

In [ ]:
'a' != 'b'

In [ ]:
'a' == 'a'

In [ ]:
x = 4
if x < 5:
    print('less than 5')
else:
    print('no')

Циклы

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

In [ ]:
x = 5
while x != 0:
    print(x)
    x = x - 1

# Библиотека Pandas


![](http://tripkendall.com/wp-content/uploads/2018/01/pandas_logo-1080x675.jpg)

 - [Pandas](http://pandas.pydata.org/) - библиотека для обработки и анализа данных.
 
Загрузка любой библиотеки выглядит следующим образом: <br /> 
**import** название [**as** псевдоним]

Обычно список импортируемых библиотек задается в самом начале ноутбука, но мы тут с вами повторяли всякое былое, поэтому импортируем, где придется

In [ ]:
# для начала импортируем одну замечательную библиотеку
import this

In [ ]:
# загрузили библиотеку и задали ее псевдоним, по которому далее к ней будем обращаться: pd
import pandas as pd

## Классы в Pandas

В пандас есть два типа структур данных:
- Series: одномерный массив с именованными индексами (чаще всего, данные одного типа)
- DataFrame: двухмерный массив, имеет табличную структуру, легко изменяется по размерам, может содержать в себе данные разных типов

Оба типа можно создавать вручную с помощью функций из самой библиотеки:
- pandas.Series(data=None, index=None, dtype=None)
- pandas.DataFrame(data=None, index=None, columns=None, dtype=None)

- **data** - данные, которые надо записать в структуру
- **index** - индексы строк
- **columns** - названия столбцов
- **dtype** - тип данных

Кроме data, остальные параметры опциональны

In [ ]:
pd.Series([1, 2, 3, 5, 8, 13.5, 'asd', pd.datetime(2018, 1, 13)])

In [ ]:
#можно задать словарь
d = dict({
    'City': ['MSK', 'SPB', 'NN', 'SPB'],
    'Temperature': [-3, +2, -3, +2],
    'State': ['Cloudy', 'Clear', 'Snow', 'Clear'],
    'Date':[pd.datetime(2017, 1, 16), pd.datetime(2017, 1, 13), pd.datetime(2017, 3, 13), pd.datetime(2017, 1, 1)]
})

pd.DataFrame(d)

## Загрузка и запись данных
Функции типа .read\_формат и 
.to\_формат считывают и записывают данные соответственно. <br /> Полный список можно найти в документации:
http://pandas.pydata.org/pandas-docs/stable/io.html

Научимся считывать данные в формате csv (comma separated value) функцией:

- <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv"> pd.read_csv()</a>: 

Аргументов у нее очень много, критически важные:
 - **filepath_or_buffer** - текстовая строка с названием (адресом) файла
 - **sep** - разделитель между данными
 - **header** - номер строки, в которой в файле указаны названия столбцов, None, если нет
 - **names** - список с названиями колонок
 - **index_col** - или номер столбца, или список,  или ничего - названия строк
 
 <a href="https://docs.google.com/spreadsheets/d/1tvaY9HyAyUwidqpZj11x_CVhlXHprnDog7JHou_3Tho/edit?usp=sharing"> Скачайте данные </a>

In [ ]:
#Скорее всего, данные в папке загрузки. 
#Если текущий ноутбук лежит у вас на компьютере в папке, отличной от папки, куда загрузились данные, нужно указать полный путь
#Если оба файла в одной папке, достаточно указать FoodConsumptionInEurope.csv

foodCons = pd.read_csv('data/FoodConsumptionInEurope.csv')
#Выведем на печать
foodCons

In [ ]:
#Cчитаем так, чтобы первый столбец стал названием строк (индексом)
foodCons = pd.read_csv('data/FoodConsumptionInEurope.csv', index_col = 0)
foodCons

In [ ]:
#транспонируем и применим метод head, чтобы посмотреть на первую строчку
foodCons = foodCons.transpose()
foodCons

In [ ]:
#Запишем в папку рядом с вашим ноутбуком переделанный файл
foodCons.to_csv('Food.csv')

## Просмотр данных
Методы:
- head(): первые записи
- tail(): последние записи
- describe(): таблича с описательными статистиками

In [ ]:
foodCons.head(1)

In [ ]:
foodCons.tail(3)

In [ ]:
foodCons.describe()

## Сортировка данных в таблице
Методы:
- sort_index - сортировка либо по столбцам, либо по строкам
- sort_values - сортировка по значению

In [ ]:
foodCons.sort_index(axis = 'index', ascending = False)

In [ ]:
foodCons.sort_values(by = 'Milk', ascending = True)

## Выбор данных из датафрейма

In [ ]:
#Выбор по столбцу
#foodCons['RedMeat']
foodCons.RedMeat

In [ ]:
#Выбор по строкам
foodCons[0:2]

In [ ]:
foodCons['Albania':'Belgium']

In [ ]:
#Выбор строки по названию (индексу)
foodCons.loc['Austria']

In [ ]:
#пара столбцов
foodCons.loc[:, ['RedMeat', 'Eggs']]

In [ ]:
#пара столбцов
foodCons.loc[['Austria','Belgium'], ['RedMeat', 'Eggs']]

In [ ]:
#выбор ячейки
foodCons.loc['Austria', 'RedMeat']

In [ ]:
#Выбор строки по номеру
foodCons.iloc[1]

In [ ]:
#Выбор одного элемента
foodCons.iloc[1,0]

In [ ]:
foodCons.iloc[0:3,1:4]

In [ ]:
foodCons.iloc[:,1]

In [ ]:
foodCons.iloc[1,:]

## Выбор с условием

Допустим, что нам нужны не только целом столбцы или "слайсы" данных, но данные, соответствующие определенным условиям

In [ ]:
foodCons[foodCons['RedMeat'] > 5]

In [ ]:
foodCons[foodCons['RedMeat'] > 5]['Eggs']

## Вставка столбцов и строк
Столбцы вставляются очень просто. 
Например, добавим столбец с регионами Европы

Европейские регионы: <br />
- Северная Европа: 0 <br />
- Южная Европа: 1 <br />
- Западная Европа: 2 <br />
- Восточная Европа: 3 <br />

In [ ]:
foodCons['Region'] = [1, 2, 2, 3, 3, 0, 2, 0, 2, 1, 3, 2, 1, 2, 0, 3, 1, 3, 1, 0, 2, 2, 3, 2]
foodCons

А строчки - методом append

In [ ]:
s = foodCons.iloc[3]
foodCons.append(s)

## Группировка данных
Метод groupby группирует по столбцу

In [ ]:
foodCons.groupby('Region').sum()

## Задача
Скачайте данные по <a href=https://www.dropbox.com/s/f2e3afgxw90qluw/yob2015.txt?dl=0>ссылке</a>. <br />
В файле представлена информация об именах новорожденных в США в 2015 году в формате: "name, gender, count"

0. Данные в формате .txt, но отлично считываются изученной функцией для чтения :)
1. Укажите наименования заголовков Name, Gender, Count
2. Выведите первые 10 строк
3. Посчитайте, сколько всего новорожденных
4. Посчитайте, сколько новорожденных девочек
5. Посчитайте долю девочек среди новорожденных

In [ ]:
#1
# используйте функцию pd.read_csv('здесь укажите название файла', header=None). Запишите датафрейм в переменную df

In [ ]:
#2
# Переименовать колонки в датафрейме просто, ниже подсказка. Перечислите в квадратных скобках нужные названия
df.columns = []

df.columns

In [ ]:
#3
# Помните функции, которые в секции "Просмотр данных"?

In [ ]:
#4
# Как вариант решения задачи - применить функцию .sum() к нужной колонке датафрейма

In [ ]:
#5
# Повторите предыдущий пункт, предварительно добавив фильтр по колонке Gender

In [ ]:
#6
# Вы почти у цели

# Итоги

## Библиотека pandas:

###  Функции для создания объектов
- pd.Series()
- pd.DataFrame()
- pd.read_csv()
- pd.isna()

### Методы
- pd.DataFrame.transpose()
- pd.DataFrame.head()
- pd.DataFrame.tail()
- pd.DataFrame.rename()
- pd.DataFrame.loc()
- pd.DataFrame.iloc()
- pd.DataFrame.fillna()
- pd.DataFrame.dropna()
- pd.DataFrame.append()
- pd.DataFrame.sum()

![](https://i.imgur.com/XJyemeI.jpg)

# Vizualization

![](https://i.pinimg.com/originals/54/62/bd/5462bd4d6ec6150ce91fbc70ac46d5f7.jpg)

In [ ]:
titanic = pd.read_csv('02_titanic_train.csv')

In [ ]:
titanic.head()

## Описание данных

| Variable | Definition | Key |
|----------|------------|-----|
|survival | Survival | 0 = No <br> 1 = Yes|
|pclass | Ticket class | 1 = 1st = Upper <br> 2 = 2nd = Middle <br> 3 = 3rd = Lower |
|sex | Sex | |
|Age | Age in years |  |
|sibsp | # of siblings <br> spouses aboard the Titanic | |
|parch | # of parents <br> children aboard the Titanic | |
|ticket | Ticket number | |
|fare | Passenger fare | |
|cabin | Cabin number | |
|embarked | Port of Embarkation | C = Cherbourg <br> Q = Queenstown <br> S = Southampton|


<b>age</b><br>
    Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

<b>sibsp</b><br>
    The dataset defines family relations in this way...<br>
    Sibling = brother, sister, stepbrother, stepsister<br>
    Spouse = husband, wife (mistresses and fiancés were ignored)

<b>parch</b><br>
    The dataset defines family relations in this way...<br>
    Parent = mother, father<br>
    Child = daughter, son, stepdaughter, stepson<br>
    Some children travelled only with a nanny, therefore parch=0 for them.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
sns.factorplot('Sex',data=titanic,kind='count');

In [ ]:
sns.factorplot('Pclass',data=titanic,kind='count');

In [ ]:
titanic.pivot_table(values='PassengerId', index='Pclass', columns='Survived', aggfunc='count').plot(
    kind='bar', stacked=True
)
plt.show()

In [ ]:
sns.factorplot('Pclass','Survived',data=titanic,hue='Sex');

In [ ]:
titanic['Age'].hist(bins=25)
plt.title("Распределение возраста  пассажиров");

In [ ]:
titanic['Age'].hist(bins=25, normed=True)
titanic['Age'].plot(kind='kde')

plt.xlim(0, 80)
plt.title("Распределение возраста  пассажиров");

In [ ]:
titanic['Age'][titanic.Sex=="male"].hist(alpha=0.6, label="Male")
titanic['Age'][titanic.Sex=="female"].hist(alpha=0.6, label="Female")

plt.legend()
plt.title("Распределение возраста  пассажиров");

In [ ]:
titanic['Age'][titanic.Sex=="male"].hist(alpha=0.6, label="Male", normed=True)
titanic['Age'][titanic.Sex=="female"].hist(alpha=0.6, label="Female", normed=True)

plt.legend()
plt.title("Распределение возраста  пассажиров");

# Boxplot (ящик с усами)
![](https://upload.wikimedia.org/wikipedia/commons/3/32/Densityvsbox.png)

In [ ]:
_, axes = plt.subplots(2, 2, sharey=True, figsize=(15,12))

sns.boxplot(x='Survived', y='Age', data=titanic[titanic.Sex=='male'], ax=axes[0, 0]);
sns.boxplot(x='Survived', y='Age', data=titanic[titanic.Sex=='female'], ax=axes[0, 1]);

sns.violinplot(x='Survived', y='Age', data=titanic[titanic.Sex=='male'], ax=axes[1, 0]);
sns.violinplot(x='Survived', y='Age', data=titanic[titanic.Sex=='female'], ax=axes[1, 1]);

In [ ]:
df_numeric = titanic.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [ ]:
df_numeric['Age'] = df_numeric['Age'].fillna(-1)

In [ ]:
plt.figure(figsize=(12, 10))
sns.heatmap(df_numeric.corr('kendall'), annot=True);

In [ ]:
df_numeric.hist(figsize=(20, 12));

In [ ]:
sns.pairplot(df_numeric, hue='Survived');

# Немножко на будущее

In [ ]:
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler

# преобразуем все признаки в числовые
X = df_numeric.copy()
y = X.Survived
X.drop(['Survived'], axis=1, inplace=True)
X['Sex'] = pd.factorize(X['Sex'])[0]
X['Embarked'] = pd.factorize(X['Embarked'])[0]
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
%%time
tsne = TSNE(random_state=17)
tsne_representation = tsne.fit_transform(X_scaled)

In [ ]:
plt.scatter(tsne_representation[:, 0], tsne_representation[:, 1]);

In [ ]:
plt.scatter(tsne_representation[:, 0], tsne_representation[:, 1], 
            c=y.map({0: 'blue', 1: 'orange'}));